.date-container {
    padding: 1.2em;
    background-color: #191b23;
    border: 1px solid #323546;
    border-radius: 6px;
}

.input-date-block {
    padding: 6px 0;
}

    .input-date-block input {
        padding: 2px;
        background-color: rgb(23, 25, 36);
        border: 1px solid rgb(64, 66, 78);
    }

        .input-date-block input:hover {
            border-color: rgb(56, 97, 251);
        }

.submit-btn {
    padding-top: 14px;
}

    .submit-btn button {
        border: 1px solid #323546;
        width: 100%;
    }

        .submit-btn button:hover {
            border-color: #3152c9;
        }
