.container-stat{
    margin-top: 100px;
}

.statistic-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    box-sizing: border-box;
    gap: 32px;
}

.section-block{
    position: relative;
    border: 1px solid #323546;
    border-radius: 12px;
    padding: 24px;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.info-block{
    height: 100px;
}

.date-container{
    background-color: black;
    padding: 1.5%;
}
