.login-container{
    width: 280px;
    background-color: black;
    padding: 1%;
    border-radius: 10px;
}

.input-box{
    width: 100%;
}

.input-box input{
    padding: 8px;
    margin: 3%;
    width: 80%;
}

.error-message{
    color: red;
    font-size: smaller;
}

.submit-button{
    padding-top: 7%;
    padding-bottom: 5%;
}

.register-link a{
    display: block;
}