.trades-container{
    margin-top: 84px;
}

.add-button button{
    width: 100%;
    border-radius: 0;
    background-color: #323546;
}

.modal-container{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}
