.main-container{
    padding: 3em;
}

.web-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.web-title{
    font-size: 3.8rem;
    bottom: 10.4rem;
    left: 10rem;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.01em;
}

.panel{
    width: 22rem;
    height: 28rem;
    background-color: #fff;
    padding: 1rem 0.5rem;
}

.panel-title{
    color: #000;
}