.main-container{
    padding: 3em;
}

.web-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 100px;
}

.web-title{
    font-size: 3.8rem;
    bottom: 10.4rem;
    left: 10rem;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.01em;
}

.panel{
    width: 22rem;
    height: 24rem;
    background-color: #fff;
    padding: 1rem 0.5rem;
}

.panel-block{
    height: 33%;
    box-sizing: border-box;
}

.panel-title{
    color: #000;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 100%;
    margin-top: 0.7em;
    margin-bottom: 0;
}

.panel-subtitle{
    margin-top: 1.2em;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    color: #7a7a7a;;
}

.panel-input{
    padding: 0.36em ;
    min-height: 3em;
    width: 80%;
    box-sizing: border-box;
    font-size: 16px;
    background-color:rgba(126, 126, 126, 0.1);
    border: 2px solid rgba(126, 126, 126, 0.1);
    border-radius: 4px;
    color: #000;
}

.panel-button{
    padding: 0;
    height: 5em;
    width: 5em;
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid #e8e8e8;
    align-items: center;
}

.arrow-icon{
    margin-top: 2px;
    color: #e8e8e8;
    font-size: 54px;
    display: inline-block;
}